body { background: #3087c1; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 44px; display: flex; }
.block-invoice-0 { color: #eee153; font-size: 12px; margin-bottom: 5px; }
.block-config-1 { color: #53f671; font-size: 17px; margin-bottom: 5px; }
.block-email-2 { color: #a95303; font-size: 19px; margin-bottom: 5px; }
.block-helper-3 { color: #ae8d32; font-size: 18px; margin-bottom: 5px; }
.block-auth-4 { color: #3c1984; font-size: 14px; margin-bottom: 5px; }
.block-product-5 { color: #c56c70; font-size: 12px; margin-bottom: 5px; }
.block-invoice-6 { color: #3b6b12; font-size: 18px; margin-bottom: 5px; }